*{
    margin: 0;
    padding: 0;
}

@media (min-width: 313px) and (max-width: 500px){

     header{
         display: inline-block;
         width: 80px;
         height: 915px;
         background-color: rgb(50, 50, 50);
     }

     img{
         width: 80px;
         height: 80px;
         margin-right: 10px;
     }

     li{
         list-style: none;

     }

     a{
         text-decoration: none;
         color: rgb(255, 216, 89);
         font-size: 10px;
     }

     #menu{
         margin: 15px
     }


     #conteudo{
         width: 100%;
         height: 100%;
     }
}